@import "../../../styles/mixins";

.Text {
  line-height: 1.5;

  &.small {
    @include fluid-type($min-vw, $max-vw, 12px, 20px);
  }

  &.medium {
    @include fluid-type($min-vw, $max-vw, 16px, 24px);
  }

  &.large {
    @include fluid-type($min-vw, $max-vw, 20px, 28px);
  }

  &.light,
  &.light-italic {
    font-family: "Montserrat-Thin";
  }

  &.normal,
  &.normal-italic {
    font-family: "Montserrat-Light";
  }

  &.bold,
  &.bold-italic {
    font-family: "Montserrat-Medium";
  }

  &.light-italic,
  &.normal-italic,
  &.bold-italic {
    font-style: italic;
  }
}
