.Heading {
  margin: 0;
}

.Heading.small {
  font-size: 18px;
}

.Heading.medium {
  font-size: 22px;
}

.Heading.large {
  font-size: 26px;
}

.Heading.light,
.Heading.light-italic {
  font-family: "Montserrat-Thin";
}

.Heading.normal,
.Heading.normal-italic {
  font-family: "Montserrat-Light";
}

.Heading.bold,
.Heading.bold-italic {
  font-family: "Montserrat-Medium";
}

.Heading.Heading.light-italic,
.Heading.Heading.normal-italic,
.Heading.bold-italic {
  font-style: italic;
}
