.Nav {
  position: sticky;
  top: 0px;
  padding-top: var(--vertical-spacing-small);
  padding-bottom: var(--vertical-spacing-small);
  background-color: var(--color-white);
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;

  > ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: var(--horizontal-spacing-small);
  }

  li {
    list-style: none;
  }

  .icon {
    height: 40px;
  }
}
