@import "../../../styles/mixins";

.CardDisplay {
  --cards-per-row: 1;
  --gap: var(--horizontal-spacing-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);

  & > * {
    width: calc(
      (
        (100% - var(--gap) * calc(var(--cards-per-row) - 1)) /
          var(--cards-per-row)
      )
    );
    max-width: 500px;
  }

  @include medium-screens {
    --cards-per-row: 3;
    --gap: var(--horizontal-spacing-medium);

    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include large-screens {
    --cards-per-row: 5;
    --gap: var(--horizontal-spacing-large);
  }
}
