.DrinkDetail .image {
  margin-bottom: var(--vertical-spacing-large);
}

.DrinkDetail .section:not(:last-child) {
  margin-bottom: var(--vertical-spacing-medium);
}

.DrinkDetail .section:last-child {
  margin-bottom: var(--vertical-spacing-large);
}
