@import "../../styles/mixins";

.DrinkDetail {
  display: grid;
  grid-template-areas:
    "image"
    "info"
    "ingredients"
    "instructions";
  gap: var(--vertical-spacing-medium);
  align-items: center;

  .image {
    grid-area: image;
    aspect-ratio: 1 / 1;
  }

  .info {
    grid-area: info;
  }

  .ingredients {
    grid-area: ingredients;
  }

  .instructions {
    grid-area: instructions;
  }

  @include medium-screens {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "image info info"
      "image info info"
      "ingredients ingredients ingredients"
      "instructions instructions instructions";
  }
}
