@import "../../../styles/mixins";

.Card {
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-spacing-small);

  @include medium-screens {
    // border: 1px solid red;
  }

  @include large-screens {
    // border: 1px solid green;
  }
}
